@import "tailwindcss";

/* ---------- MindSettler Design Tokens ---------- */
@theme {
  /* Colors */
  --color-primary: #e55d80;
  --color-primary-hover: #eb81a5;

  --color-bg-app: #f3eded;
  --color-bg-card: #ffffff;
  --color-bg-subtle: #faf9fb;

  --color-text-body: #453859;
  --color-border: #e8e6eb;

  /* Fonts */
  --font-title: "Imbue", serif;
  --font-body: "Playfair Display", serif;
}

/* Global base styles */
html,
body {
  min-height: 100%;
}
